@{
    ViewBag.Title = "RegistrationPage";
}

<link href="~/Content/ViewsCss/Registration.css" rel="stylesheet" />

<h2>RegistrationPage</h2>

<div class="registration-container">
    <div class="description-container">
        <div>Name:</div>
        <div>Password:</div>
        <div>Email:</div>
        <div>Day of birth:</div>
    </div>
    <div class="input-container">
        <input class="input-name" type="text">
        <input class="input-password" type="text">
        <input class="input-email" type="text">
        <input class="input-dayOfBirth" type="date">
    </div>
</div>
<div class="submit-button">Submit</div>

<script>

    $(".submit-button").click(function (e) {
        debugger;
        //string name, string password, DateTime dayOfBirth, string email

        var name = $(".input-name").get(0).value;
        var password = $(".input-password").get(0).value;
        var email = $(".input-email").get(0).value;
        var dayOfBirth = $(".input-dayOfBirth").get(0).value;

        var urlParametrsTemplate = "?name={0}&password={1}&dayOfBirth={2}&email={3}";
        var urlParametrs = urlParametrsTemplate.format([name, password, dayOfBirth, email]);



        $.ajax({
            type: "POST",
            url: 'RegistrationNewUser' + urlParametrs,
            contentType: false,
            processData: false,
            success: function (result) {
                debugger;
            },
            error: function (ex) {
                debugger;
            }
        });
    });
</script>